<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="pet-list.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ebbc1aa60f.js" crossorigin="anonymous"></script>
    <script src="app.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <script>
        
        $(document).ready(function(){
            $(".on").click(function() {
                $('.alert').css({
                    'transform': 'translateX(0)',
                });
            });
            
            $(".close").click(function() {
                $('.alert').css({
                    'transform': 'translateX(150%)',
                });
            });

            $(".out").click(function(){
                $('.alert').css({
                    'transform': 'translateX(150%)',
                });
            })
        })
   ScrollReveal({ reset: true });
        ScrollReveal().reveal('.banner', { easing:"ease-in", delay: 100});
        ScrollReveal().reveal('.shop', { easing: "ease-in", delay: 100});
        ScrollReveal().reveal('.about', { easing: "ease-in", delay: 100 });
        ScrollReveal().reveal('.review', { easing: "ease-in", delay: 100 });
        ScrollReveal().reveal('.contact', { easing: "ease-in", delay: 100 });
        ScrollReveal().reveal('.form', { easing: "ease-in", delay: 100 });
        ScrollReveal().reveal('.strip', { easing: "ease-in", delay: 100 });
    </script>
</head>
<body>
    <header>
        <div class="logo">PETADOPTION</div>
        <ul class="navigation">
            <li><a href="#banner">HOME</a></li>
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#reviews">REVIEWS</a></li>
            <li><a href="#contact">CONTACT</a></li>
            <li><a href="#singin">SINGIN</a></li>
        </ul>
    </header> 
    <section id="animals">
        <br><br>
        <h2 class="section-title">AVAILABLE FOR ADOPTION</h2>
        <div class="animal-list">
            <div class="animal">
                <img src="cat.jpg" alt="Cute Cat">
                <h3>Cute cat </h3>
                <p>A</p>
                <div class="adoption-info">
                    <span><i class="fas fa-paw"></i> 3 years old</span>
                    <span><i class="fas fa-map-marker-alt"></i> City, Country</span>
                </div>
                <a routerLink="/adoptionform" class="adopt-btn">Adopt Now</a>
            </div>
        </div>
         <a href="/patadding" class="redirect-button">Add a Pet</a>
    </section>
</body>